
body {
    font: 1em sans-serif;
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
    }

.nav {
    background-color: #060e0e;
    color: #00ffff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    border-bottom: #00ffff solid 2px;
    width: 100%;
    }

.Welcome {
    width: 80%;
    margin: auto;
    padding: 20px;
    color: #78787d;
    }

.cont {
    margin: auto;
    margin-left: 2rem;
    border-radius: 1rem;
    border: #00ffff solid 2px;
    color : #d3d3d3;
    border-color: #00ffff;
    max-width: 300px;
}


.vid_con{
    padding: 10px;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: flex-start;
}

.aud_con{
    padding: 10px;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: flex-start;
}

.img_con{
    padding: 10px;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: flex-start;
}

.searchbar {
    width: 50%;
    padding: 10px;
    margin: auto;
    display: block;
    border-radius: 1rem;
    border: #00ffff solid 2px;
    background-color: #060e0e;
    color: #d3d3d3;
}

.vid_conh {
    background-color: #060e0e;
    color: #ff0606;
    max-width: 300px;
    margin-left: 1rem;
    border: #00ffff solid 2px;
    border-radius: 1rem;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.aud_conh {
    background-color: #060e0e;
    color: #ff0606;
    max-width: 300px;
    margin-left: 1rem;
    border: #00ffff solid 2px;
    border-radius: 1rem;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.img_conh {
    background-color: #060e0e;
    color: #ff0606;
    max-width: 300px;
    margin-left: 1rem;
    border: #00ffff solid 2px;
    border-radius: 1rem;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

h4 {
    color: #00ffff;
    text-align: center;
}